* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
p {
  font-size: 32px;
  margin-bottom: 20px; /* Настраивай это значение под макет */
  line-height: 1.6;    /* А это решит проблему с межстрочным расстоянием */
}
header {
  background-color: #007765;
  
}
.header_menu {
  width: 1110px;
  margin: 0 auto;
  padding: 20px 0;
}
header nav {
  float: right;
  font-size: 24px;
  display: inline-block;
  color: white;
  display: inline-block;
}
header nav a {
  color: white;
  font-weight: 400;
}
header span {
  margin: 0 5px;
}
.pipernet {
  background-image: url(pipernet_img.webp);
  height: 404px;
}
h1 {
  font-size: 72px;
  font-weight: 500;
  color: white;
  text-align: center;
  padding-top: 160px;
}
.problem {
  background-color: #EEEEEE;
}

h2 {
  font-size: 68px;
  font-weight: 500;
  color: #007765;
  text-align: center;
  padding: 48px 0 0 0;
}
.problem_text {
  width: 1110px;
  color: #000000;
  margin: 0 auto;
  padding: 0 0 90px 0;
}
.phrase {
  background-image: url(img_phrase.webp);
}
.phrase p {
  width: 893px;
  color: white;
  margin: 0 auto;
  padding: 128px 0;
  font-style: italic;
  font-size: 48px;
  text-align: center;
  line-height: 1.2;
}
figure {
  width: 1110px;
  margin: 0 auto;
  font-size: 32px;
}
figure img {
  float: left;
  margin: 10px 20px 20px 0;
}
.piedpepercoin_text {
  width: 1110px;
  margin: 0 auto;
  padding: 0 0 90px 0;
}
.team {
  background-color: #EEEEEE;
}
.team_users {
  width: 1110px;
  margin: 0 auto;
  text-align: center;
}
.team .name {
  font-size: 24px;
  font-weight: 700;
  color: #007765;
}
.team .job_title {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  color: #000000;
}
.team_user_rh {
  width: 33%;
  display: inline-block;
}
.team_user_dc {
  width: 33%;
  display: inline-block;
}
.team_user_bg {
  width: 33%;
  display: inline-block;
}
.team_user_jd {
  width: 33%;
  display: inline-block;
}
.team_user_mh {
  width: 33%;
  display: inline-block;
}
.team_user_nb {
  width: 33%;
  display: inline-block;
}
.team_users_line_1 {
  padding: 60px 0 0 0;
}
.team_users_line_2 {
  padding: 80px 0 90px 0;
}
footer {
  background-color: #333333;
}
footer p {
  width: 500px;
  color: white;
  margin: 0 auto;
  padding: 48px 0 64px 0;
  font-size: 18px;
  text-align: center;
}
